.Meeting {
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
}

.Meeting_info {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.Meeting_name {
    font-size: 24px;
    text-align: center;
}


@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap&subset=cyrillic');*/

#success {
  color: rgb(153,200,137);
}
